GROQ_API_KEY=

OPEN_ROUTER_API_KEY=

POLZAAI_API_KEY = 

POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 

SECRET_TOKEN = 32

REDIS_URL = 

QDRANT_URL = 

QDRANT_API_KEY = 32

USER_AGENT = RAGService/1.0

HF_TOKEN=

LANGFUSE_SECRET_KEY=sk-lf
LANGFUSE_PUBLIC_KEY=pk-lf
LANGFUSE_BASE_URL=